{% extends 'base.html' %} 

{% block content %} 
<h1>Manufacturers</h1>
<button class ="new_button" onclick="wondow.location.href='/manufacturers/new'">Add New Manufacturer</button>

 <div>
    {% for manufacturer in all_manufacturers %}
    <button class="button" onclick="window.location.href ='manufacturers/{{manufacturers_id}}'">
      Manufacturer:{{manufacturer.company_name}}<br>
      EST:{{manufacturer.founded}}<br>
      Company HQ:{{manufacturer.location}}<br>
    </button>

    {% endfor %} 
 </div>

<p>Manufacturers will go here</p>


{% endblock %} 
