{% extends 'base.html' %} 

{% block content %} 
<div class="manufacturers-page">
<h1>Manufacturers</h1>
<button class ="new_button" onclick="window.location.href='/manufacturers/new'">Add New Manufacturer</button>

 <div>
    {% for manufacturer in all_manufacturers %}
    <div>
    <button class="button" onclick="window.location.href ='manufacturers/{{manufacturer.id}}'">
      {{manufacturer.company_name}}<br>
      
    </button>
    </div>
    {% endfor %} 
 </div>
 </div>



{% endblock %} 
