{% extends 'base.html' %} 

{% block content %} 

<div class="individual_company">
    <h2> Company name: {{manufacturer.company_name}}</h2>
    <h2> EST: {{manufacturer.founded}}</h2> 
    <h2> Company HQ: {{manufacturer.location}}</h2>   

 <button class="edit-button" onclick="window.location.href='/manufacturers/{{manufacturer.id}}/edit'">Edit</button>

<button  class ="delete-button" onclick="window.location.href='/manufacturers/{{manufacturer.id}}/delete'"> Delete</button>

</div>


{% endblock %} 