{% extends 'base.html' %} 

{% block content %} 
<section class="guitars-page">
<h1 class="guitars-header">Guitars</h1>
 <button class="new_button" onclick="window.location.href='Guitars/new'">Add New Guitar</button>
   
     
      {% for guitar in guitars %} 
       <div class = "guitars"> 
           
         <button class= "button" onclick="window.location.href= 'Guitars/{{guitar.id}}'">
           Guitar Name:{{guitar.guitar_name}}<br>
           Guitar Colour:{{guitar.colour}}<br>
         
           
         </button>
          
       </div><br>
      {% endfor %} 
   

</section>  
{% endblock %} 
