{% extends 'base.html' %} 

{% block content %} 
<section class= individual-guitar>
<h1> {{guitar.guitar_name}}</h1>
    
     Colour:{{guitar.colour}}<br>
     Company name:{{guitar.manufacturer.company_name}}<br>
     Guitar type:{{guitar.guitar_type}}<br>
     Strings:{{guitar.no_of_strings}}<br>
     Year:{{guitar.production_date}}<br>
     Stock Price £{{guitar.stock_price}}<br>
     Selling Price £{{guitar.selling_price}}<br>
     Quantity: {{guitar.quantity}}<br>
    
        
    <button class="button" onclick="window.location.href='/Guitars/{{guitar.id}}/edit'">Edit</button>
     <button  class="delete-button" onclick="window.location.href='/Guitars/{{guitar.id}}/delete'"> delete</button>
   
</section>    

{% endblock %}
