{% block content %} 
<div class='add-guitar'>
<h1 class="new-guitar-head"> Add New Guitar </h1>
<form  class="new-guitar" action="/Guitars" method= "POST">
  <div class='new-guitar-name'>
    <label for='guitar_name' name= 'guitar_name'>Guitar name:</label>
    <input type="text" name='guitar_name'>
    
  </div>
  <div>
    <label  for='colour'name='colour'>Colour:</label>
    <select name='colour'>
        
         <option >Black</option>
         <option >White</option>
         <option >Sunburst</option>
         <option >Tobaco Sunburst</option>
         <option >Red</option>
         <option >Green</option>
         <option >Blue</option>

         
    </select> 
  </div>
  <div>
      <label for= "Manufacturer">Manufacturer:</label>
      <select id ="manufacturer" name ="manufacturer_id">
          {% for manufacturer in all_manufacturers %} 
            <option value="{{manufacturer.id}}">{{manufacturer.company_name}}</option>
          {% endfor %}  
      </select>
  </div>

  <div>
      <label for ='guitar_type' >Type:</label>
      <select name='guitar_type'>
      <option>Electric</option>
      <option>Acoustic</option>
      </select>

  </div>

  <div>
      <label for ='no_of_strings'>Strings:</label>
      <select name='no_of_strings'>
          <option>6</option>
          <option>12</option>
      </select>
  </div>

  <div>
      <label for='production_date'>Production Date</label>
      <input name ='production_date' type="number" placeholder="Production Date" min=1920 max=2021>
  </div>

  <div>
      <label for='stock_price'>Stock Price:</label>
      <input name ='stock_price'type = "number" placeholder = "Stock Price" min=100 max=1500>
  </div>

  <div>
    <label for='retail_price'>Retail Price:</label>
    <input name='selling_price'type = "number" placeholder = "Retail Price" min=100 max=2000>
  </div>
  <div>
    <label  for='quantity'>Quantity:</label>
    <input name='quantity' type= "number" placeholder = "Quantity" max= 100>
  </div>
<button type= "submit">Add Guitar</button>
</form>
</div>
{% endblock %}