
.guitars-page{
    background-color: burlywood;
    
}
.guitars-header{
    text-align: center;
    font-size: 70px;
    
}
.new-guitar-head{
    text-align: center;
    background-color: darkgray;

}
.new-guitar{
    background-color: darkgray;
    margin: 0;
}
.individual-guitar{
    
    text-align: center;
    background-color: darkgreen;
    background-size: 100vh;
    font-size: 40px;

}
