.individual_company{
    text-align: center;
    background-color: darkgreen;
    background-size: 100vh;
}
#company-name{
    background-color: darkgreen;

}
.manufacturers-page{
    background-color: darkseagreen;
}