
.head_bar{
    background-color: rgb(49, 53, 59);
    padding-bottom: -3vh;
    border-radius: 5px;
    
    
    }
.title{
    text-align: center;
    color: crimson;
}
.menu{
    color:greenyellow;
    
}
a{
    color: greenyellow;
}
.li{
    color:greenyellow
}


.button{
    
    background-color: cyan;
    size: 20vh;
    border-radius: 10px;
}

#homepage{
    
    background-image: url('pics/strings.jpeg');
    
    margin-top:-1.5em;
}
.new_button{
    background-color: darkgreen;
    border-radius: 15px;
    position: relative;
    border: 3px solid gray;
    left: 46%; 
}
.delete-button{
    background-color: crimson;
    border-radius: 15px;
    position:relative;
    font-size: 20px;
}
