
.head_bar{
    background-color: rgb(49, 53, 59);
    padding-bottom: -3vh;
    }

.guitars{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 50px;
}
.guitars-page{
    background-color: burlywood;
}
.button{
    
    background-color: cyan;
}

#homepage{
    
    background-image: url('pics/strings.jpeg');
    
    margin-top:-1.5em;
}
h1{
    text-align: center;
    color :red
}
a{
    color:red
}
#company-name{
    color:black;
}