
.head_bar{
    background: rgb(8,138,8);
    background: linear-gradient(0deg, rgba(8,138,8,1) 0%, rgba(0,0,0,1) 100%);
    margin: 0;
    padding:0;
    border-radius: 19px;
    font-size: 30px;
    
    }
.title{
    text-shadow: 2px 2px #ff0000;
    
    text-align: center;
    color: rgb(17, 126, 7);
}
.menu{
    color:rgb(202, 228, 54);
    
}
a{
    color:rgb(202, 228, 54);

}
.li{
    color:rgb(202, 228, 54);
}


.button{

    background: rgb(178,226,5);
    background: linear-gradient(137deg, rgba(178,226,5,1) 0%, rgba(114,247,207,1) 100%);size: 20vh;
    border-radius: 10px;
    font-size: 30px;
    width :300px;
    height : 300px

}

#homepage{
    
    background-repeat: no-repeat;
    background-size: 190vh;
    background-image: url('pics/guitar.jpg');
    

}
.new_button{
    background-color: darkgreen;
    border-radius: 15px;
    position: relative;
    border: 3px solid gray;
    left: 40%; 
    font-size: 30px;
}
.delete-button{
    background-color: crimson;
    border-radius: 15px;
    position:relative;
    font-size: 20px;
}
.update_button{
    font-size: 40px;
    float:center;
    background-color: darkgreen;
    border-radius: 10px;
}
input{
    width:200px;
    height:50px
}
.edit-button{
    font-size: 20px;
    background-color: darkorange;
    border-radius: 15px;
}