<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='guitar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='manufacturer.css') }}">

    <title>The G String</title>
    <div class="head_bar">
     <h1 class="title">The G String</h1>
      <header>  
        <nav class = "menu">
             <ul>
                <li><a href = "/">Home</a></li>
                <li><a href = "/Guitars">Guiters</a></li>
                <li><a href = "/manufacturers">Manufacturers</a></li>
            
            </ul>
        </nav>
      </header>
    </div>  
</head>
<body>
    {% block content %} 
    
    {% endblock %} 


</body>
</html>